<!DOCTYPE html>
<html>
<head>
  <title>CodeReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="header-menu">
      <p>
        Code @ <a href="#">Code Review</a>
      </p>
    </div>
    <div class="header-hero">
      <div class="header-hero__text">
        <h1>
          <%= content_for(:header_text) || "Code Review" %>
        </h1>
        <%= content_for(:header_block) %>
      <div>
    </div>
  </header>

  <section class="container">
    <%= yield %>
  </section>

</body>
</html>
